<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Medi2Door - Bringing the medicine at your door</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">


    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/icon-font.min.css">
    <link rel="stylesheet" href="assets/css/plugins.css">
    <link rel="stylesheet" href="assets/css/helper.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="assets/js/vendor/modernizr-3.7.1.min.js"></script>
</head>

<body>
    <div class="main-wrapper">

        <div class="header-section section">
            <div class="header-top header-top-one bg-theme-two">
                <div class="container-fluid">
                    <div class="row align-items-center justify-content-center">
                        <div class="col mt-10 mb-10 d-none d-md-flex">
                            <div class="header-top-left">
                                <p>Welcome to Medi2Door - Bringing the medicine at your door</p>
                            </div>
                        </div>
                        <div class="col mt-10 mb-10">
                            <div class="header-top-right">
                                <p><a href="Account.html">My Account</a></p>
                                <p><a href="/login">Register</a><a href="/login">Login</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom header-bottom-one header-sticky">
                <div class="container-fluid">
                    <div class="row menu-center align-items-center justify-content-between">
                        <div class="col mt-15 mb-15">
                            <div class="header-logo">
                                <a href="/index">
                                    <img src="assets/images/logo.png">
                                </a>
                            </div>
                        </div>
                        <div class="col order-2 order-lg-3">
                            <div class="header-shop-links">
                                <div class="header-mini-cart">
                                    <a href=""><img src="assets/images/icons/cart.png" alt="Cart"> <span>Rs.0</span></a>
                                </div>
                            </div>
                        </div>

                        <div class="col order-3 order-lg-2">
                            <div class="main-menu">
                                <nav>
                                    <ul>
                                        <li>
                                            <a class="active" href="/index">HOME</a>
                                        </li>
                                        <li>
                                            <a href="#">ABOUT</a>
                                        </li>
                                        <li><a href="contact.html">CONTACT</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- Mobile Menu -->
                        <div class="mobile-menu order-12 d-block d-lg-none col"></div>

                    </div>
                </div>
            </div>

        </div>
        <!-- Hero Section Start -->
        <div class="hero-section section">

            <!-- Slider Start -->
            <div class="hero-slider hero-slider-one fix">

                <div class="hero-item" style="background-image: url(assets/images/hero/hero-1.jpg)">
                </div>
                <div class="hero-item" style="background-image: url(assets/images/hero/hero-2.jpg)">
                </div>
            </div>

        </div><!-- Slider End -->
        <!-- Banner Section Start -->
        <div class="banner-section section mt-40">
            <div class="container-fluid">
                <div class="row row-10 mbn-20">
                    <div class="col-lg-4 col-md-6 col-12 mb-20">
                        <div class="banner banner-1 content-left content-middle">
                            <a href="#" class="image"><img src="assets/images/banner/banner-1.jpg" alt="Banner Image"></a>
                            <!--<div class="content">
                                <h1>New Arrival <br>Baby’s Shoe <br>GET 30% OFF</h1>
                                <a href="#" data-hover="SHOP NOW">SHOP NOW</a>
                            </div>-->
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mb-20">
                        <a href="#" class="banner banner-2">
                            <img src="assets/images/banner/banner-2.jpg" alt="Banner Image">
                            <!--<div class="content bg-theme-one">
                                <h1>New Toy’s for your Baby</h1>
                            </div>
                            <span class="banner-offer">25% off</span>-->
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mb-20">
                        <div class="banner banner-1 content-left content-top">
                            <a href="#" class="image"><img src="assets/images/banner/banner-3.jpg" alt="Banner Image"></a>
                            <!--<div class="content">
                                <h1>Trendy <br>Collections</h1>
                                <a href="#" data-hover="SHOP NOW">SHOP NOW</a>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Banner Section End -->
        <!-- Product Section Start -->
        <div class="product-section section section-padding">
            <div class="container">

                <div class="row">
                    <div class="section-title text-center col mb-30">
                        <h1>Popular Pharmacies</h1>
                        <p>All popular Pharmacies find here</p>
                    </div>
                </div>

                <div class="row mbn-40">

                    <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-40">

                        <div class="product-item">
                            <div class="product-inner">
                                <div class="image">
                                    <img src="assets/images/pharmacies/pharmacy-1.jpg" alt="">
                                    <div class="image-overlay">
                                        <div class="action-buttons">
                                            <button>Visit Pharmacy</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="content-left">
                                        <h4 class="title"><a href="single-product.html">Healthguard Pharmacy</a></h4>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <h5 class="nmra">NMRA : 384-1</h5>
                                        <h5 class="id">Pharmacy ID : 123456789</h5>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-40">

                        <div class="product-item">
                            <div class="product-inner">
                                <div class="image">
                                    <img src="assets/images/pharmacies/pharmacy-2.jpg" alt="">
                                    <div class="image-overlay">
                                        <div class="action-buttons">
                                            <button>Visit Pharmacy</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="content-left">
                                        <h4 class="title"><a href="single-product.html">Union Chemists</a></h4>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <h5 class="nmra">NMRA : 356-2</h5>
                                        <h5 class="id">Pharmacy ID : 123456789</h5>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-40">

                        <div class="product-item">
                            <div class="product-inner">
                                <div class="image">
                                    <img src="assets/images/pharmacies/pharmacy-3.jpg" alt="">
                                    <div class="image-overlay">
                                        <div class="action-buttons">
                                            <button>Visit Pharmacy</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="content-left">
                                        <h4 class="title"><a href="single-product.html">City Pharmacy</a></h4>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <h5 class="nmra">NMRA : 356-2</h5>
                                        <h5 class="id">Pharmacy ID : 123456789</h5>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-40">

                        <div class="product-item">
                            <div class="product-inner">
                                <div class="image">
                                    <img src="assets/images/pharmacies/pharmacy-4.jpg" alt="">
                                    <div class="image-overlay">
                                        <div class="action-buttons">
                                            <button>Visit Pharmacy</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="content-left">
                                        <h4 class="title"><a href="single-product.html">Rajya Osusala</a></h4>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <h5 class="nmra">NMRA : 356-2</h5>
                                        <h5 class="id">Pharmacy ID : 123456789</h5>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-40">

                        <div class="product-item">
                            <div class="product-inner">
                                <div class="image">
                                    <img src="assets/images/pharmacies/pharmacy-5.jpg" alt="">
                                    <div class="image-overlay">
                                        <div class="action-buttons">
                                            <button>Visit Pharmacy</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="content-left">
                                        <h4 class="title"><a href="single-product.html">Healthaid Pharmacy</a></h4>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <h5 class="nmra">NMRA : 384-1</h5>
                                        <h5 class="id">Pharmacy ID : 123456789</h5>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-40">

                        <div class="product-item">
                            <div class="product-inner">
                                <div class="image">
                                    <img src="assets/images/pharmacies/pharmacy-6.jpg" alt="">
                                    <div class="image-overlay">
                                        <div class="action-buttons">
                                            <button>Visit Pharmacy</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="content-left">
                                        <h4 class="title"><a href="single-product.html">New Waruna Pharmacy</a></h4>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <h5 class="nmra">NMRA : 356-2</h5>
                                        <h5 class="id">Pharmacy ID : 123456789</h5>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-40">

                        <div class="product-item">
                            <div class="product-inner">
                                <div class="image">
                                    <img src="assets/images/pharmacies/pharmacy-7.jpg" alt="">
                                    <div class="image-overlay">
                                        <div class="action-buttons">
                                            <button>Visit Pharmacy</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="content-left">
                                        <h4 class="title"><a href="single-product.html">CFC Pharmacy</a></h4>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <h5 class="nmra">NMRA : 356-2</h5>
                                        <h5 class="id">Pharmacy ID : 123456789</h5>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-40">

                        <div class="product-item">
                            <div class="product-inner">
                                <div class="image">
                                    <img src="assets/images/pharmacies/pharmacy-8.jpg" alt="">
                                    <div class="image-overlay">
                                        <div class="action-buttons">
                                            <button>Visit Pharmacy</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="content-left">
                                        <h4 class="title"><a href="single-product.html">The Mount Pharmacy</a></h4>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                        </div>
                                        <h5 class="nmra">NMRA : 356-2</h5>
                                        <h5 class="id">Pharmacy ID : 123456789</h5>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div><!-- Product Section End -->


        <div class="feature-section bg-theme-three section fix"> <!--style="background-image: url(assets/images/footer-bg.png);"-->
            <div class="container">
                <div class="feature-wrap row justify-content-between mbn-30">

                    <div class="col-md-4 col-12 mb-30">
                        <div class="feature-item text-center">

                            <div class="icon"><img src="assets/images/feature/feature-1.png" alt=""></div>
                            <div class="content">
                                <h3>Fast Delivery</h3>
                                <p>Deliver within 48 hours</p>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4 col-12 mb-30">
                        <div class="feature-item text-center">

                            <div class="icon"><img src="assets/images/feature/feature-2.png" alt=""></div>
                            <div class="content">
                                <h3>Best Price Guarantee</h3>
                                <p>Best Price on the Market</p>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4 col-12 mb-30">
                        <div class="feature-item text-center">

                            <div class="icon"><img src="assets/images/feature/feature-3.png" alt=""></div>
                            <div class="content">
                                <h3>NMRA Approved</h3>
                                <p>All the Suppliers</p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div><!-- Feature Section End -->
            
        <div class="footer-top-section section bg-theme-two-light section-padding">
            <div class="container">
                <div class="row mbn-40">

                    <div class="footer-widget col-lg-4 col-md-6 col-12 mb-40">
                        <h4 class="title">CONTACT US</h4>
                        <p>No. 23A/1, Rukmal Place,<br />Sirimal Uyana, Rathmalana</p>
                        <p><a href="tel:0117544801">0112 123 456</a></p>
                        <p><a href="mailto:info@mdi2door.com">info@medi2door.com</a><a href="#">www.Medi2Door.com</a></p>
                    </div>

                    <div class="footer-widget col-lg-4 col-md-6 col-12 mb-40">
                        <h4 class="title">INFORMATION</h4>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>

                    <div class="footer-widget col-lg-4 col-md-6 col-12 mb-40">
                        <h4 class="title">NEWSLETTER</h4>
                        <p>Subscribe our newsletter and get all update of our product</p>

                        <form id="mc-form" class="mc-form footer-subscribe-form" novalidate="true">
                            <input id="mc-email" autocomplete="off" placeholder="Enter your email here" name="EMAIL" type="email">
                            <button id="mc-submit"><i class="fa fa-paper-plane-o"></i></button>
                        </form>

                        <h5>FOLLOW US</h5>
                        <p class="footer-social"><a href="#">Facebook</a> - <a href="#">Twitter</a> - <a href="#">Google+</a></p>

                    </div>

                </div>
            </div>
        </div>
        <div class="footer-bottom-section section bg-theme-two pt-15 pb-15">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <p class="footer-copyright">Copyright &copy; Medi2Door. All rights reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JS
    ============================================ -->
    <!-- jQuery JS -->
    <script src="assets/js/vendor/jquery-3.4.1.min.js"></script>
    <!-- Popper JS -->
    <script src="assets/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Plugins JS -->
    <script src="assets/js/plugins.js"></script>
    <!-- Ajax Mail -->
    <script src="assets/js/ajax-mail.js"></script>
    <!-- Main JS -->
    <script src="assets/js/main.js"></script>

</body>

</html>